@page
@model Backend.Pages.BakerPage.IndexModel
@{
    ViewData["Title"] = "BakerPage";
}

<h1>Baker Page</h1>

<div class="row gap-4">
    @foreach (var item in Model.Products)
    {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">

            <div class="card">
                <img src="@item.ImageUrl" class="card-img-top" alt="@item.Description">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <div class="form-group col-12 mb-2">
                        <p class="card-text">In stock: @item.Stock</p>
                    </div>
                    <div class="form-group">
                        <p class="card-text">Ingerdients: </p>

                    </div>
                    <ul class="list-group list-group-flush mb-3">
                        @foreach (var ingredient in item.Ingredients)
                        {
                            <li class="list-group-item">@ingredient</li>
                        }
                    </ul>
                    
                    <div class="d-flex flex-column flex-md-row align-items-md-center gap-3">
                        <form method="post">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="numberToMake">Number of products</span>
                                <input asp-for="NumberToMake" type="number" class="form-control" min="1" step="1" aria-describedby="numberToMake" />
                                <span asp-validation-for="NumberToMake" class="text-danger"></span>
                            </div>
                            <div class="input-group ">
                                <input type="submit" class="btn btn-warning" value="Make product(s)">
                            </div>
                            <div class="input-group ">
                                <input type="hidden" name="id" value="@item.Id" />
                            </div>
                        </form>


                    </div>

                </div>
            </div>
        </div>
    }

</div>
