@page
@model IndexModel
@{
    ViewData["Title"] = "Products";
}

<h1 class="mb-4">Products</h1>

<div class="my-2 d-flex justify-content-end">
    <a asp-page="Create" class="btn btn-primary">Add new product</a>
</div>

<div class="row">
    <div class="col-12">
        <ul class="list-group">
            @if (Model.Products.Count == 0)
            {
                <li class="list-group-item">
                    No products found
                </li>
            }

            @foreach (var item in Model.Products)
            {
                var available = item.Stock - item.Reserved;

                <li class="list-group-item d-flex">
                    <img src="@item.ImageUrl" class="img-fluid product-image me-4 border border-2 my-auto" />
                    <div>
                        <h5>@item.Name</h5>
                        <pre>@item.Description</pre>
                        <p>
                            <b>
                                Stock:
                            </b>

                            <span class="text-success">
                                @available
                            </span>
                            /
                            @item.Stock
                            (@item.Reserved reserved)
                        </p>
                        <p><b>Price:</b> @item.Price</p>
                    </div>
                    <ul class="ms-auto dropdown-menu d-flex flex-column justify-content-center position-static">
                        <li>
                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">
                                <span class="inline-emoji">
                                    ✏️
                                </span> Edit
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">
                                <span class="inline-emoji">
                                    ℹ️
                                </span> Details
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-danger" asp-page="./Delete" asp-route-id="@item.Id">
                                <span class="inline-emoji">
                                    🗑️
                                </span> Delete
                            </a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>