@page
@model DetailsModel

@{
    ViewData["Title"] = "User details";
}

<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card">
			<h5 class="card-header">
				Details
			</h5>
			<div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UserEntity.EmailAddress)
                    </dt>
                    <dd class="col-sm-8 text-end">
                        @Html.DisplayFor(model => model.UserEntity.EmailAddress)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UserEntity.LastSeen)
                    </dt>
                    <dd class="col-sm-8 text-end">
                        @Html.DisplayFor(model => model.UserEntity.LastSeen)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UserEntity.Registered)
                    </dt>
                    <dd class="col-sm-8 text-end">
                        @Html.DisplayFor(model => model.UserEntity.Registered)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.UserEntity.Role)
                    </dt>
                    <dd class="col-sm-8 text-end">
                        @Html.DisplayFor(model => model.UserEntity.Role)
                    </dd>
                </dl>
				<div class="form-group my-2 d-flex justify-content-between">
                    <a asp-page="./Edit" asp-route-id="@Model.UserEntity.Id" class="btn btn-secondary">Edit</a>
                    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
				</div>
			</div>
		</div>
	</div>
</div>
