@page
@using System.Security.Cryptography
@using System.Text
@model IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1 class="mb-4">Users</h1>

<div class="row">
	<div class="col-12 d-flex justify-content-start">
		<a asp-page="Create" class="btn btn-primary">Add user</a>
	</div>
	<div class="col-12">

		<table class="table">
			<thead>
				<tr>
					<th>
						E-Mail
					</th>
					<th>
						Last seen
					</th>
					<th>
						Account created
					</th>
					<th>
						Role
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.UserEntity)
				{
					var emailHash = Convert.ToHexString(MD5.HashData(Encoding.UTF8.GetBytes(item.EmailAddress.Trim().ToLower()))).ToLower();

					<tr>
						<td>
							<div class="d-flex align-items-center gap-2">
								<img class="img-fluid rounded" src="https://gravatar.com/avatar/@emailHash" />
								@Html.DisplayFor(modelItem => item.EmailAddress)
							</div>
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LastSeen)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Registered)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Role)
						</td>
						<td>
							<a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">
								Edit
							</a>
							<a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">
								Details
							</a>
							<a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">
								Delete
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
		</table>
	</div>
</div>

<style>
	tr img {
		width: 48px;
		height: 48px;
	}
</style>