@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Users</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserEntity[0].EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEntity[0].LastSeen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEntity[0].Registered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEntity[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserEntity)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastSeen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
